@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-12 col-sm-4">
        <!--<img src="~/Content/pictures/calendar.png" class="card-img-top" alt="Repertuar" />-->
        <div class="card">
            <i class="icon-calendar card-img"></i>
            <h2>Repertuar</h2>
            <p>
                Zobacz co obecnie grane jest na ekranie.
            </p>
            <p> @Html.ActionLink("Zobacz repertuar", "Repertoire", "Home", new object { }, new { @class = "btn btn-primary" })</p>
        </div>
     </div>
    <div class="col-12 col-sm-4">
        <!--<img src="~/Content/pictures/tickets.png" class="card-img-top" alt="Bilety" />-->
        <div class="card">
            <i class="icon-ticket card-img"></i>
            <h2>Bilety</h2>
            <p>Zrealizuj rezerwację i pobierz bilety</p>
            <p> @Html.ActionLink("Kup bilety", "Index", "Reservation", new object { }, new { @class = "btn btn-primary" })</p>
        </div>
     </div>
    <div class="col-12 col-sm-4">
        <!--<img src="~/Content/pictures/baza.png" class="card-img-top" alt="Baza danych" />-->
        <div class="card">
            <i class="icon-book card-img"></i>
            <h2>Baza danych</h2>
            <p>Zarzadzaj bazą filmów, seansów i rezerwacji.</p>
            <p> @Html.ActionLink("Przejdź do bazy", "Index", "Admin", new object { }, new { @class = "btn btn-primary" })</p>
        </div>
     </div>
</div>